#maps1{float:right;
       width:100%;}

       @media screen and (max-width: 768px) {
 #maps1 {
    padding: 10px 10px 10px 10px;
    width:100%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?srf3rx");
  src: url("fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}


